<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngClass]="{ show: isConfirmationModalOpen }"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ dataConsts.title }}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="onCancelClick()"
        ></button>
      </div>
      <div class="modal-body">
        <p>{{ dataConsts.body }}</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="onCancelClick()"
        >
          {{ dataConsts.cancelButton }}
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onConfirmClick()"
        >
          {{ dataConsts.deleteButton }}
        </button>
      </div>
    </div>
  </div>
</div>
