<form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm)">
  <div class="mt-4">
    <label for="formGroupExampleInput" class="form-label">Title</label>
    <input
      type="text"
      name="title"
      ngModel
      required
      class="form-control"
      id="formGroupExampleInput"
      placeholder="Title"
    />
  </div>
  <div
    *ngIf="postForm.invalid && (postForm.dirty || postForm.touched)"
    class="text-danger"
  >
    Enter a valid message.
  </div>

  <div class="mt-3">
    <label for="formGroupExampleInput2" class="form-label">Body</label>
    <textarea
      name="body"
      ngModel
      required
      class="form-control"
      id="formGroupExampleInput2"
      placeholder="Body"
    ></textarea>
  </div>

  <div
    *ngIf="postForm.invalid && (postForm.dirty || postForm.touched)"
    class="text-danger"
  >
    Enter a valid message.
  </div>

  <button
    type="button"
    class="btn btn-secondary mt-3"
    (click)="onCancel(postForm)"
  >
    Cancel
  </button>

  <button
    type="submit"
    class="btn btn-primary ms-2 mt-3"
    [disabled]="postForm.invalid"
  >
    Create post
  </button>
</form>
